<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moyun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 50px;">Moyun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('circles.index') }}">圈子</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('books.index') }}">书籍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('reviews.index') }}">书评</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('friendships.friends_view') }}">消息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile.view_profile') }}">个人主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">关于</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ url_for('static', filename='images/user_icon.png') }}" alt="User Profile" style="width: 30px; height: 30px; margin-right: 10px;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('profile.edit_profile') }}">个人信息</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('users.login') }}">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 内容区 -->
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- 底栏 -->
<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2024 Moyun. All Rights Reserved.</p>
        <p>联系我们：contact@moyun.com</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
